{% from "_formhelpers.html" import render_field %}

{% extends 'default.html' %}
{% block content %}
 
<table class="table">
  <tr>
    <th>circleid</th>
    <th>ownerid</th>
    <th>delete?</th>
  </tr>
  {% for circle in circles %}
    <tr>
      <td><a href="/circle/{{ circle.circleid }}">{{ circle.circleid }}</a></td>
      <td><a href="/user/{{ circle.ownerid }}"/>{{ circle.ownerid }}</td>
      <td><form action="{{ url_for('circles') }}" method = post>
	{{ delete_circle_form.delete }}
	{{ delete_circle_form.hidden(value = circle.circleid) }}
	  </form>
      </td>
    </tr>
  {% endfor %}
</table>

<div class='col-lg-5'>
<form action="{{ url_for('circles') }}" method = post>
  {{ render_field(form.submit, class='btn btn-primary btn-block', value='Create Circle') }}
</form>
</div>

 
{% endblock %}
