<html>
  <head>
    {% if title %}
      <title>{{ title }} - MyLink</title>
    {% else %}
    <title>MyLink</title>
    {% endif %}
  </head>
  <body>
    <div>MyLink:
      <a href='/index'>Home</a>
      <a href="/users">Users</a>
      <a href="/albums">Albums</a>
      <a href="/posts">Posts</a>
      {% if 'email' in session %}
      <a href='/profile'>Profile</a>
      <a href='/logout'>Logout</a>
      {% else %}
      <a href='/login'>Login</a>
      <a href='/register'>Register</a>
      {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
    <br/><br/><br/>
    session:<br/>
    {{ session|tojson }} <br/>
    users in db should be "george@gmail.com : abc123", "mary@gmail.com : mary123"</br>
  </body>
</html>
