{% extends "default.html" %}
{% block content %}

<p>Activity Feed</p>

<p>Friends:</p>
<table>
  {% for friend in friends %}
  {{ friends }}
    <tr>
      <td><img src="/images/users/{{ friend.id }}/{{ friend.picture }}"/ style="width: 100px"></td>
      <td>{{ friend.id }}</td>
      <td>{{ friend.friendid }}</td>
      <td>{{ friend.state }}</td>
    </tr>
  {% endfor %}
</table>

<p>Circles you belong to:</p>
{% for circle in circles %}
  {{ circle.circleid }} - {{ circle.ownerid }} - {{ circle.ownerid }}
{% endfor %}


{% endblock %}
