{% from "_formhelpers.html" import render_field %}

{% extends 'default.html' %}
{% block content %}

<h2>Hello {{ session['email'] }}</h2>

<form action="{{ url_for('profile') }}" method=post class='form-signin'>
<h1>Update account</h1>

{% for message in form.password.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}
{{ form.hidden_tag() }}
 
{{ render_field(form.password.label, class='sr-only') }}
{{ render_field(form.password, id='inputPassword', class='form-control', placeholder='Password') }}
 
{{ render_field(form.submit, class='btn btn-lg btn-primary btn-block', value='Submit') }}
</form>
{% endblock %}
