{% extends 'default.html' %}
{% block content %}
<h2>Requests</h2>

<table class="table">
  <tr>
    <th>friendid</th>
    <th>userid</th>
    <th>accept?</th>
  </tr>
  {%for request in requests %}
    {% if request.state == 'r' %}
    <tr>
      <td><a href="/user/{{ request.friendid }}">{{ request.friendid }}</a></td>
      <td><a href="/user/{{ request.userid }}">{{ request.userid }}</td>
      <td><form action="{{ url_for('requests') }}" method = post>
	{{ form.accept }}
	{{ form.deny }}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
{% endblock %}
