{% from "_formhelpers.html" import render_field %}
{% extends 'default.html' %}

{% block content %}
<div class="user col-lg-12">
  <div class="name">
    {{ user.name }}
  </div>

  <div class="col-lg-6 left">
    {% if user.picture != "" %}
    <img src="/images/users/{{ user.id }}/{{ user.picture }}" style="width:400px"/>
    {% else %}
    <img src="/images/users/default.png" style="width: 200px"/>
    {% endif %}
  </div>
</div>

<div = "acceptfriend col-lg-12">
  {% if sessionid != user.id %}
    {% if form %}
    <td>
      <form action="{{ url_for('user', userid = user.id) }}" method=post>
      {% if isFriend != True %}
      {{ render_field(form.submit, class='btn', value='Add Friend') }}
      {% elif acceptedFriends == True %}
      {{ render_field(form.remove, class='btn', value='Remove Friend') }}
      {% endif %}
      </form>
    </td>
    {% endif %}
  {% endif %}
</div>
{% endblock %}


